---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Not Found" description="404 Error — this page was not found">
	<h2 class="fadeIn">Page Not Found Not found <br><br>
	<a href="/">&larr; BACK HOME</a>
	</h2>
</Layout>
<style>
	h2 {
		text-align: center;
		padding: 50px;
		text-transform: uppercase;
		color: #fff;
	}
	a {
		color: #fff;
		text-decoration: none;
	}
</style>