---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import Card from '../components/Card.astro'
---

<Layout title='Confidential Defense Agency - Our Shield Your Safeguard' description='Confidential Defense Agency'>
	<main>
		<Hero image='/img/hero.jpg' />
		<section class='wrapped'>
			<div class='container-flex'>
				<div class='flex-35 fadeIn'>
					<h2 class='heading'>ABOUT US</h2>
					<p>Family-owned and operated since 2021, Confidential Defense Agency (CDA) is a private security firm based out of Los Angeles, CA with client services available globally. We offer custom-tailored security and luxury transport solutions with an emphasis on client privacy. We are a law enforcement family and take pride in our mission to safeguard our trusted clients and what they value most. Our security operators are vetted from tenured and distinguished backgrounds in U.S. law enforcement and military, possessing over 100 years of combined professional experience serving and protecting civilians.</p>
				</div>
				<div class='flex-65 fadeIn'>
					<h2 class='heading'>SERVICES</h2>
					<div class='card__container'>
						<ul role='list' class='card__wrapper'>
							<Card
								title='EXECUTIVE PROTECTION'
								body={[
									'Our specially designed executive protection service provides 24/7 coverage for a single individual, family, and/or location with a small-scale, highly trained mobile security detail.',
								]}
							/>
							<Card
								title='EXECUTIVE TRANSPORTATION'
								body={['We offer luxury and defense transport solutions for high-profile and high-net-worth individuals.']}
							/>
						</ul>
						<hr />
						<ul role='list' class='card__wrapper'>
							<Card
								title='ESTATE SECURITY'
								body={[
									'We design and staff residential security solutions to fit your unique needs. Our estate security operators protect your at-home peace of mind by monitoring residential detection systems, managing property access, deterring intrusions, and responding to emergencies.',
								]}
							/>
							<Card
								title='PRIVATE INVESTIGATION & SECURITY CONSULTING'
								body={[
									'Our private investigators are off-duty law enforcement equipped with the precise skills and tools required to independently investigate client cases.',
								]}
							/>
						</ul>
						<hr />
						<ul role='list' class='card__wrapper'>
							<Card
								title='EVENT SECURITY'
								body={[
									'Specialized, full-spectrum security solutions for any size or type of event. Safeguard your event attendees and staff from potential threats.',
								]}
							/>
							<Card
								title='TACTICAL FILM ADVISING'
								body={[
									'Offering strategic, comprehensive advising for pre-production, script development, and set and costume design as it relates to real-world tactical policing procedure and crime scene management.',
								]}
							/>
						</ul>
					</div>
				</div>
			</div>
		</section>
	</main>
</Layout>

<style>
	.container-flex {
		padding-left: 100px;
		display: flex;
		flex-wrap: wrap;
		gap: 50px;
		margin-bottom: 50px;
	}
	.flex-35 {
		flex-basis: calc(35% - 25px);
	}
	.flex-65 {
		flex-basis: calc(65% - 25px);
	}
	.card__container {
		display: flex;
		background: var(--accent);
		flex-wrap: wrap;
	}
	.card__wrapper {
		flex: 0 1;
		flex-basis: calc(33% - 25px);
		display: flex;
		flex-direction: column;
		gap: 25px;
		padding: 25px;
	}
	hr {
		border-color: #595c65;
		border-width: 2px;
		border-style: solid;
	}
	@media (max-width: 1400px) {
		.card__wrapper {
			flex-basis: 100%;
		}
		hr {
			width: 90%;
		}
	}
	@media (max-width: 1280px) {
		.container-flex {
			padding-left: 50px;
		}
	}
	@media (max-width: 768px) {
		.container-flex {
			padding-left: 25px;
			margin-bottom: 25px;
		}
	}
	@media (max-width: 600px) {
		.flex-35 {
			flex-basis: 100%;
		}
		.flex-65 {
			flex-basis: 100%;
		}
	}
</style>
