---
import Layout from '../layouts/Layout.astro';
import AllProfiles from '../components/Profiles';

---

<Layout title='Profiles' description='Confidential Defense Agency was established as a small family run business in 2021.'>
    <main>
        <section class='wrapped'>
            <AllProfiles client:load/>
        </section>
    </main>
</Layout>
<script>

</script>