---
import Layout from '../layouts/Layout.astro';
import ProfilesData from '../components/Profiles';

---

<Layout title='Profiles' description='Confidential Defense Agency was established as a small family run business in 2021.'>
    <main>
        <section class='wrapped'>
            <ProfilesData client:load/>
        </section>
    </main>
</Layout>
<!-- <script>
  import profiles from '../data/profiles'
  profiles.sort((a, b) => {
    const nameA = a.lastName;
    const nameB = b.lastName;
    if (nameA < nameB) {
      return -1;
    }
    if (nameA > nameB) {
      return 1;
    }
    // names must be equal
    return 0;
  });
  
  const profilesData = document.querySelectorAll('[data-show-profile]');
  const closeBtn = document.querySelector('.close-btn');
  profilesData.forEach((profile) => {
    profile.addEventListener('click', e => console.log(e.target))
  })
</script> -->