---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Our Services' description='Confidential Defense Agency was established as a small family run business in 2021.'>
	<main>
		<section class='wrapped service-card__container'>
   <div class="service-card__wrapper fadeIn">
    <div class="service-card__image">
     <img src="/img/services/exec-prot.jpg" alt="Executive Protection image" class="obj-img">
    </div>
    <div class="service-card__text-container bg-light">
     <div class="service-card__header">
      <h2 class="heading-sm">EXECUTIVE PROTECTION</h2>
     </div>
     <div class="service-card__icon-wrapper">
      <div class="service-card__text">
       <p>Executive protection, or close protection, refers to the security and risk mitigation measures used to ensure the safeguard of individuals who face elevated personal risk because of their employment, high-profile status, net worth, affiliations, or geographical location.</p>
        <p>Our specialized executive protection service provides 24/7 coverage for a single individual, family, and/or location with a small-scale, highly trained mobile security detail.</p>
        <p class="white"><strong>At CDA, our shield is your safeguard.</strong></p>
        <p>CDA's security operators and advisors are proficient field professionals who possess current or prior backgrounds in law enforcement, military, and private security.</p>
        <p class="white"><strong>Who needs executive protection?</strong></p>
        <p>Executive protection services are suitable for clients who face elevated personal risk given their employment, high-profile status, net worth, affiliations, or geographical location and who wish to implement an inner layer of security for themselves and/or family. Though reasons for need vary by client, executive protection services allow the client to continue their normal routines safely and with minimal disruption.</p>
        <p>Typical clients range from high profile and high net worth individuals, including corporate executives, artists and entertainers, and political leaders who wish to travel safely and seamlessly while preserving privacy and discretion with an expert mobile security team.</p>
      </div>
      <div class="service-card__icon">
       <img src="/img/cda-shield.png" alt="CDA shield logo icon">
      </div>
     </div>
    </div>
   </div>
   <div class="service-card__wrapper fadeIn">
    <div class="service-card__image">
     <img src="/img/services/estate-security.jpg" alt="Estate Security image" class="obj-img">
    </div>
    <div class="service-card__text-container bg-light">
     <div class="service-card__header">
      <h2 class="heading-sm">ESTATE SECURITY</h2>
     </div>
     <div class="service-card__icon-wrapper">
      <div class="service-card__text">
       <p>Estate security is an executive protection service designed to safeguard your home environment.</p> 

       <p>This requires established security operators who have prior experience in fixed site residential protection of manors, estates, penthouses, and properties for high-net-worth individuals and their families.</p> 

       <p>CDA designs and staffs residential security solutions to fit your unique needs. Our estate security operators protect your at-home peace-of-mind by monitoring residential detection systems, managing property access, deterring intrusions, and responding to emergencies. </p>
       
       <p class="white"><strong>Neutralize threats against your home with on-site security operators.</strong></p>
       
       <p>You deserve to feel safe in your home. When you need to safeguard your home and family from potential threats, passive security systems or waiting on arrival from law enforcement during a crisis response aren't enough to ensure you, your loved ones, or your possessions are safe.</p> 
       
       <p class="white"><strong>CDA's estate security operators provide:</strong></p>
       <ul class="mb10 styled">
        <li>Armed or unarmed static and roving security operators at your residence for 24/7 active coverage.</li>
        <li>Active surveillance and counter surveillance against threats to your residence.</li>
        <li>Close protection for you and your loved ones as they travel to and from your residence.</li>
        <li>Liaison with local law enforcement and authorities as needed to protect your home.</li>
       </ul>
       
       <p class="white"><strong>Why choose CDA security operators?</strong></p>
       
       <p>We offer a potent skillset comprising over 100 years in combined professional experience from law enforcement, military, and private security capable of deterring even the most sophisticated of threats. Our operators are true assets who are highly effective at mitigating threats to your residence, property, assets-- and most importantly, your life.</p>
       
       <p>As a small family business and law enforcement family, we aim to uphold a close-knit cultural CDA network based on respect, loyalty, and discretion. We value the connection to our clients and continually strive to deliver a specialized service experience that delights and reinforces peace of mind, all while maintaining your privacy.</p> 
      </div>
      <div class="service-card__icon">
       <img src="/img/cda-shield.png" alt="CDA shield logo icon">
      </div>
     </div>
    </div>
   </div>
   <div class="service-card__wrapper fadeIn">
    <div class="service-card__image">
     <img src="/img/services/event-security.jpg" alt="Event Security image" class="obj-img">
    </div>
    <div class="service-card__text-container bg-light">
     <div class="service-card__header">
      <h2 class="heading-sm">EVENT SECURITY</h2>
     </div>
     <div class="service-card__icon-wrapper">
      <div class="service-card__text">
       <p>Specialized, full-spectrum security solutions for any size or type of event. Safeguard your event attendees and staff from potential threats.</p> 
      <p class="white"><strong>End-to-end security solutions designed for your specific event.</strong></p>
      <p>CDA offers comprehensive solutions for any size or type of event, ensuring event organizers and attendees a secure environment at every layer of vulnerability, inside or outside the venue.</p>
     <p>For VIPs or key personnel attending the event, CDA selects seasoned operators to protect the critical inner layer, applying a combination of armed and unarmed, covert, and overt operators. Whether it’s a small-scale, intimate event or a multi-day music festival, our event security operators provide the comprehensive approach required to secure you and your event guests.</p>
     <p class="white"><strong>Access full-spectrum event security services.</strong></p>
     <p class="white"><strong>CDA's event security operators provide:</strong></p>
     <ul class="mb10 styled">
     <li>Executive protection operators for close protection of VIPs in both an overt and covert capacity.</li>
     <li>Armed and unarmed static and roving security operators.</li>
     <li>Travel coordination and executive transportation in armored or unarmored vehicles.</li>
    </ul>
      </div>
      <div class="service-card__icon">
       <img src="/img/cda-shield.png" alt="CDA shield logo icon">
      </div>
     </div>
    </div>
   </div>
   <div class="service-card__wrapper fadeIn">
    <div class="service-card__image">
     <img src="/img/services/exect-transport.jpg" alt="Executive Transportation image" class="obj-img">
    </div>
    <div class="service-card__text-container bg-light">
     <div class="service-card__header">
      <h2 class="heading-sm">EXECUTIVE TRANSPORTATION</h2>
     </div>
     <div class="service-card__icon-wrapper">
      <div class="service-card__text">
       <p>We specialize in luxury and defense transport solutions for high-profile and high net worth clients.</p> 
       <p class="white"><strong>CDA Luxe. Ride in Luxury. Arrive in Peace.</strong></p>
       <p>Access our luxe defense packages or a la carte transport options <a href="https://www.theluxetransport.com" target="_blank" rel="noopener">here</a>.</p>
      </div>
      <div class="service-card__icon">
       <img src="/img/cda-shield.png" alt="CDA shield logo icon">
      </div>
     </div>
    </div>
   </div>
   <div class="service-card__wrapper fadeIn">
    <div class="service-card__image">
     <img src="/img/services/private-inv.jpg" alt="Private Investigation & Security Consulting image" class="obj-img">
    </div>
    <div class="service-card__text-container bg-light">
     <div class="service-card__header">
      <h2 class="heading-sm">PRIVATE INVESTIGATION & SECURITY CONSULTING</h2>
     </div>
     <div class="service-card__icon-wrapper">
      <div class="service-card__text">
       <p>Our private investigators are off-duty law enforcement equipped with the specialized skills required to independently investigate client cases using research and documentation, background checks, drone and on foot surveillance monitoring, and interviews to provide you with crime prevention analysis, security and threat assessments and/or evidence in legal, criminal, business, or personal investigations.</p>
      <p class="white"><strong><a href="/contact/">Contact a CDA security</a> advisor to begin your private investigation assessment.</strong></p> 
      </div>
      <div class="service-card__icon">
       <img src="/img/cda-shield.png" alt="CDA shield logo icon">
      </div>
     </div>
    </div>
   </div>
   <div class="service-card__wrapper fadeIn">
    <div class="service-card__image">
     <img src="/img/services/tactical-film.jpg" alt="Tactical Film Advising image" class="obj-img">
    </div>
    <div class="service-card__text-container bg-light">
     <div class="service-card__header">
      <h2 class="heading-sm">TACTICAL FILM ADVISING</h2>
     </div>
     <div class="service-card__icon-wrapper">
      <div class="service-card__text">
       <p>Offering strategic, comprehensive advising and reporting for pre-production, script development, and set and costume design as it relates to real-world tactical policing procedure and crime scene management. Set collaboration with other supporting consulting services, including but not limited to the Fire Brigade and Ambulance service.</p>
      </div>
      <div class="service-card__icon">
       <img src="/img/cda-shield.png" alt="CDA shield logo icon">
      </div>
     </div>
    </div>
   </div>
		</section>
	</main>
</Layout>
<style>
 ul.styled {
  list-style: disc;
  list-style-position: outside;
  padding-left: 10px;
 }
 .mb10 {
  margin-bottom: 10px;
 }
.service-card__container {
 margin-top: 50px;
 margin-bottom: 50px;
 display: flex;
 flex-direction: column;
 gap: 50px;
}
.service-card__wrapper {
 display: flex;
}
.service-card__image {
 flex-basis: 40%;
}
.service-card__image img {
 vertical-align: bottom;
}
.service-card__text-container {
 flex-basis: 60%;
}
.service-card__text {
 flex-basis: 80%;
}
.service-card__header {
 background: var(--primary);
 padding: 25px 50px;
}
.service-card__icon-wrapper {
 display: flex;
 gap: 50px;
 padding: 25px 50px;
}
.service-card__icon img {
   max-height: 150px;
  }

@media (max-width: 1024px) {
  .service-card__icon {
   display: none;
  }
  .service-card__text {
  flex-basis: 100%;
 }
 .service-card__header {
  padding: 12.5px 25px;
 }
 .service-card__icon-wrapper {
  padding: 12.5px 25px;
 }
}

@media (max-width: 768px) {
 .service-card__wrapper {
  flex-direction: column;
 }
}
</style>