---
export interface Props {
	title: string;
	body: Array<string>;
	image: string;
	link: string;
}

const { title, body, image, link } = Astro.props;
---

<div class="card swiper-slide">
		<a href={link} class="card__wrapper">
			<div class="card__text">
				<h2 class="heading-sm">
					{title}
				</h2>
					{body.map((item) => (
						<p>{item}</p>
					))}
			</div>
			<div class="card__img">
				<img src={image} alt="service image">
			</div>
		</a>
</div>
<style>
	/* .card {
		flex: 0 1 calc(25% - 10px);
	} */
	.card.swiper-slide {
		height: unset!important;
	}
	.card__wrapper {
		height: 100%;
		background: var(--accent);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.card__text {
		padding: 20px;
	}
	.card__img img {
		vertical-align: bottom;
	}
	.card__img {
		position: relative;
		overflow: hidden;
	}
	.card__img img {
		transition: transform .4s ease;
	}
	.card__wrapper:hover .card__img::after {
		transition: all .4s ease;
	}
	.card__wrapper:hover .card__img::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #29438d;
		mix-blend-mode: screen;
	}
	.card__wrapper:hover img {
		transform: scale(1.1);
	}
</style>
