---
export interface Props {
	title: string;
	body: Array<string>;
	image: string;
}

const { title, body, image } = Astro.props;
---

<div class="card swiper-slide">
		<div class="card__wrapper">
			<div class="card__text">
				<h2 class="heading-sm">
					{title}
				</h2>
					{body.map((item) => (
						<p>{item}</p>
					))}
			</div>
				<img src={image} alt="service image">
		</div>
</div>
<style>
	/* .card {
		flex: 0 1 calc(25% - 10px);
	} */
	.card.swiper-slide {
		height: unset!important;
	}
	.card__wrapper {
		height: 100%;
		background: var(--accent);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.card__text {
		padding: 20px;
	}
</style>
